*{
    margin: 0;
    padding: 0;
}
.navbar ul{
   
    float: right;
    list-style: none;
    color: white;
}
.navbar ul li{
   display: inline-block;
    padding: 0px 25px;
    font-size: 17px;
}
.navbar ul li a{
   color: white;
   text-decoration: none;
}

body{
    background-image: url('index.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 100vh;
}
.image{
    margin: 41px
}
.content{
    font-size: 37px;
    margin: 175px 225px;
    font-family: 'Fuzzy Bubbles', cursive;
    color: white;
   
}
.line{
    margin: -161px 312px;
    font-family: 'Fuzzy Bubbles', cursive;
    color: white;
}
.button{
    padding: 15px 30px;
    background-color: #5ab963;
    border-radius: 4px;
}
.button{
    margin: 523px;
    line-height: 490px;
    color: white;
    font-size: 22px;
    border-radius: 7px;
    text-decoration: none;
}


    
